.reviews {
  padding: 20px 0 70px 0;

  &__item_fist {
    margin-top: 70px;
  }
  &__item {
    display: flex;
  }
  &__foto {
    margin-right: 62px;
  }
  &__content-wrapper {
    max-width: 670px;
  }
  &__client-name {
    font-size: 18px;
    font-weight: 700;
    color: #0d0d0d;
  }
  &__client-achievements {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    color: #646464;
  }
  &__text {
    margin-top: 19px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #0d0d0d;
  }
  &__seporator {
    margin: 50px 0 50px 0;
  }
}
